<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>

</head>

<body>
    <div class="container">
        <ul class="list-group">
            <li th:each="fileName : ${fileNames}">
                <a th:href="@{/view-pdf?name={fileName}(fileName=${fileName})}" th:text="${fileName}">File name</a>
        </ul>
    </div>
</body>

</html>