<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>

</head>

<body>
    <div class="row">
        <div class="col-sm-4">
            <div class="component" style="padding: 50px;">
                <div class="list-group">
                    <a th:each="fileName : ${fileNames}" th:href="@{/view-pdf?name={fileName}(fileName=${fileName})}"
                        th:text="${fileName}" class="list-group-item list-group-item-action">File name</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>