<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>

</head>

<body>
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item" th:each="fileName : ${fileNames}" th:text="${fileName}">Placeholder</li>
        </ul>
    </div>
</body>

</html>