<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<head>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <!-- JS (Requires Popper.js/jQuery depending on Bootstrap version) -->
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
    <div class="container">
        <form action="file-upload" method="post" enctype="multipart/form-data">
            <div class="row mt-2">
                <div class="col-12">
                    <div class="form-group">
                        <label class="col-form-label">Select File:&nbsp;</label>
                        <label class="btn btn-primary">
                            Choose file <input type="file" data-val="true" data-val-required="Please select file"
                                id="file" name="file" style="display: none;">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <button type="submit" class="btn btn-success">Upload File</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>